*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 22px;

    overflow-x: hidden;
    overflow-y: scroll;

    color: #777;
}

input
{
    outline: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

ul,
li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

/*
***************start*****************
*header style
*/
.header
{
    position: fixed;
    z-index: 1020;

    width: 100%;
}

.header
{
    top: 0;
    left: 0;

    height: 60px;

    border-top: 3px solid #ededed;
    border-bottom: 1px solid #e9e9e6;
    background-color: #f6f6f6;
    background-image: -webkit-linear-gradient(#f6f6f6 0%, white 45%);
    background-image:         linear-gradient(#f6f6f6 0%, white 45%);
}

.header .logo-container
{
    display: inline-block;
}

.header .logo-container .logo
{
    float: left;

    margin: 10px 0 0 15px;

    text-decoration: none;
}

.header .logo-container .logo img
{
    height: 35px;
}

.header .header-right
{
    float: right;

    height: 56px;
}

.header .header-right .search
{
    display: inline-block;

    width: 170px;

    vertical-align: middle;
}

.header-right .search .input-search
{
    width: 100%;

    table-layout: fixed;
}

.header-right .search .input-search input
{
    -webkit-border-radius: 500px;
       -moz-border-radius: 500px;
            border-radius: 500px;
}

.search .input-search .input-group-btn .btn
{
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: -36px;

    color: #ccc;
    border: 0;
    -webkit-border-radius: 500px;
       -moz-border-radius: 500px;
            border-radius: 500px;
    background: transparent;
}

.search .input-search .input-group-btn button
{
    outline: none;
}

.search .input-search .input-group-btn .btn:hover
{
    color: #333;
}

.search .input-search .input-group-btn .btn:active
{
    box-shadow: none;
}

.header-right .notifications
{
    display: inline-block;

    margin: 4px -10px 0 0;
    padding: 0;

    vertical-align: middle;
}

.header-right .notifications .notification-item
{
    position: relative;

    float: left;

    margin: 0 10px 0 0;
}

.header-right .notifications .notifications-icon
{
    display: inline-block;

    box-sizing: border-box;
    width: 30px;
    height: 30px;

    text-align: center;

    color: #777;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
}

.header-right .notifications .notifications-icon:hover
{
    border: 1px solid #ccc;
}

.header-right .notifications .notifications-icon i
{
    line-height: 32px;
}

.header-right .notifications .notifications-icon .badge
{
    font-size: 10px;

    position: absolute;
    top: -3px;
    right: -8px;

    padding: 3px 5px 3px 5px;

    color: #fff;
    background: #d2312d;
}

.notifications .notification-menu.largeMenu
{
    width: 325px;
}

.notifications .notification-menu
{
    right: -5px;
    left: auto;

    width: 245px;
    margin: 8px 0 0 0;
    padding: 0;

    border: none;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
            box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.notifications .notification-menu:before
{
    position: absolute;
    right: 16px;
    bottom: 100%;

    width: 0;
    height: 0;
    margin-right: -3px;

    content: '';
    pointer-events: none;

    border-right: 6px solid transparent;
    border-bottom: 6px solid #08c;
    border-left: 6px solid transparent;
}

.notifications .notification-menu .notification-title
{
    font-size: 1.1rem;

    width: 100%;
    padding: 5px 6px 5px 12px;

    text-transform: uppercase;

    color: #fff;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    background: #08c;
}

.notifications .notification-menu .notification-title .label
{
    font-size: 1.2rem;

    padding: 4px 16px;

    background: #069;
}

.notifications .notification-menu .notification-content
{
    padding: 12px;
}

.notifications .notification-menu .notification-content p
{
    margin-bottom: 5px !important;
}

.notifications .notification-menu .notification-content .message
{
    font-size: 12px;
    line-height: 14px;

    padding: 0;

    color: #acacac;
}

.notifications .notification-menu .notification-content .text-dark
{
    color: #171717 !important;
}

.notifications .notification-menu .notification-content .progress
{
    height: 7px;
}

.notifications .notification-menu .notification-content .profile-pic
{
    display: inline-block;
    float: left;

    margin: 0 10px 0 0;

    vertical-align: middle;
}

.notifications .notification-menu .notification-content li
{
    margin-bottom: 12px;
}

.notifications .notification-menu .notification-content img
{
    width: 35px;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: transparent;
}

.notifications .notification-menu .notification-content a
{
    display: block;

    text-decoration: none;
}

.notifications .notification-menu .notification-content .messageTitle
{
    line-height: 17px;

    display: block;
    overflow: hidden;

    white-space: nowrap;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: #001;
}

.notifications .notification-menu .notification-content .messageContent
{
    line-height: 15px;

    display: block;
    overflow: hidden;

    white-space: nowrap;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    color: #acacac;
}

.notifications .notification-menu .notification-content .imageIcon
{
    float: left;

    margin: 0 10px 0 0;
}

.notifications .notification-menu .notification-content .imageIcon i
{
    line-height: 35px;

    width: 35px;
    height: 35px;

    text-align: center;

    border-radius: 35px;
}

.bg-danger
{
    color: #fff;
    background-color: #d2322d;
}

.bg-success
{
    color: #fff;
    background-color: #47a447;
}

.bg-warning
{
    color: #fff;
    background-color: #ed9c28;
}

.notifications .notification-menu .notification-content .alertMessage
{
    font-size: 1.3rem;
    line-height: 1.7rem;

    display: block;

    padding: 2px 0 0;

    color: #001;
}

.notifications .notification-menu .notification-content .alertStatus
{
    font-size: 1.1rem;
    line-height: 1.5rem;

    display: block;

    padding: 0;

    color: #acacac;
}

.notifications .notification-menu hr
{
    height: 1px;
    margin: 12px 0;

    color: #acacac;
}

.notifications .notification-menu .viewAll
{
    font-size: 1.1rem;
    line-height: 1.1rem;

    text-transform: uppercase;

    color: #acacac;
}

.header-right .userBox
{
    position: relative;

    display: inline-block;

    margin: 3px 17px 0 0;

    vertical-align: middle;
}

.userBox a
{
    position: relative;
    z-index: 993;

    text-decoration: none;
}

.userBox .profile-pic
{
    display: inline-block;

    vertical-align: middle;
}

.userBox .profile-pic img
{
    width: 35px;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: transparent;
}

.userBox .profile-info
{
    line-height: 12px;

    display: inline-block;

    margin: 0 25px 0 10px;

    vertical-align: middle;
}

.userBox .profile-info .userName
{
    font-size: 13px;

    display: block;

    color: #001;
}

.userBox .profile-info .userRole
{
    font-size: 11px;

    display: block;

    color: #acacac;
}

.userBox a .glyphicon-chevron-down
{
    font-size: 10px;
    font-weight: lighter;

    color: #001;
}

.userBox.open .dropdown-menu
{
    z-index: 992;
    top: -10px;
    left: -10px;

    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
    padding: 45px 10px 0;

    border: none;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);
}

.userBox.open .dropdown-menu a
{
    font-size: 14px;
    line-height: 15px;

    display: block;

    padding: 5px 10px;

    color: #7d7d7d;
    border-radius: 2px;
}

.userBox.open .dropdown-menu a i
{
    margin-right: 5px;
}

.header-right .separator
{
    display: inline-block;

    width: 2px;
    height: 100%;
    margin: 0 25px 0;

    vertical-align: middle;

    background-color: #f6f6f6;
    background-image:         linear-gradient(#f6f6f6 60%, #ededed);
    background-image: -webkit-linear-gradient(#f6f6f6 60%, #ededed);
}
/*
*header style
****************end******************
*/

.inner-wrapper
{
    display: block;
    overflow: hidden;

    width: 100%;
    padding-top: 110px;
}

/*
***************start*****************
*sidebar style
*/
.sidebar-left
{
    position: fixed;
    z-index: 1010;
    top: 60px;
    bottom: 0;
    left: 0;

    width: 300px;
    padding-bottom: 50px;

    vertical-align: top;

    color: #777;
    background-color: #1d2127;
    box-shadow: -5px 0 0 #2f3139 inset;
}

.sidebar-left .sidebar-head
{
    font-size: 1.5rem;

    height: 50px;

    color: #465162;
}

.sidebar-left .sidebar-head .sidebar-title
{
    padding: 15px;
}

.sidebar-left .sidebar-head .siderbar-toggle
{
    position: absolute;
    top: 0;
    right: 0;

    width: 73px;
    height: 50px;

    cursor: pointer;
    text-align: center;

    color: #c3c3c3;
    border-radius: 0 0 0 5px;
    background-color: #171717;
}

.sidebar-left .sidebar-head .siderbar-toggle i
{
    font-size: 1.7rem;
    line-height: 50px;

    transition: all .15s ease-in-out;

    color: #c3c3c3;
}

.sidebar-left .sidebar-head .siderbar-toggle:hover i
{
    color: #08c;
}

.nano
{
    width: 300px;
    height: 100%;
}

.nano > .nano-pane
{
    width: 4px;
    margin: 0;

    border-radius: 0;
}

.nano > .nano-pane > .nano-slider
{
    margin: 0;

    border-radius: 0;
    background-color: #08c;
}

.nav-main li a
{
    font-size: 1.3rem;

    padding: 12px 25px;

    white-space: nowrap;
    text-decoration: none;

    color: #abb4be;
}

.nav-main li a:hover
{
    background-color: #21262d;
}

.nav-main li a:focus
{
    background-color: #21262d;
}

.nav-main .nav-active > a
{
    box-shadow: 2px 0 0 #08c inset;
}

.nav-main li a i
{
    font-size: 1.8rem;

    margin-right: 12px;

    text-align: center;
    vertical-align: top;
}

.nav-parent > a:after
{
    font-family: Glyphicons";
    content: '\e001';
    color: #abb4be;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
}

/*
*sidebar style
****************end******************
*/

/*.test {
  width: 100%;
  position: fixed;
  top: 60px;
  left: 0;
}*/

/*.nano { background: #bba; width: 500px; height: 500px; }
.nano > .nano-content { padding: 10px; }
.nano > .nano-pane   { background: #888; }
.nano > .nano-pane > .nano-slider { background: #111; }*/

/*
.textflow {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}*/
