* {
  margin:0;
  padding:0;
}

body {
  color: #777;
  font-size: 13px;
  font-family: "Open Sans", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 22px;
}

input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
***************start*****************
*header style
*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1020;
}

.header {
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(#f6f6f6 0%, white 45%);
  background-image: linear-gradient(#f6f6f6 0%, white 45%);
  height: 60px;
  left: 0;
  top: 0;
  border-bottom: 1px solid #E9E9E6;
  border-top: 3px solid #EDEDED;
}

.header .logo-container {
  display: inline-block;
}

.header .logo-container .logo {
  text-decoration: none;
  float: left;
  margin: 10px 0 0 15px;
}

.header .logo-container .logo img {
  height: 35px;
}

.header .header-right {
  float: right;
  height: 56px;
}

.header .header-right .search {
  width: 170px;
  display: inline-block;
  vertical-align: middle;
}

.header-right .search .input-search {
  width: 100%;
  table-layout: fixed;
}

.header-right .search .input-search input {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius:500px;
}

.search .input-search .input-group-btn .btn {
  background: transparent;
  border: 0;
  position: absolute;
  top: 0;
  left: -36px;
  bottom: 0;
  z-index: 3;
  color: #ccc;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius:500px;
}

.search .input-search .input-group-btn button {
  outline: none;
}
  
.search .input-search .input-group-btn .btn:hover {
  color: #333;
}

.search .input-search .input-group-btn .btn:active {
  box-shadow: none;
}

.header-right .notifications {
  display: inline-block;
  padding: 0;
  margin: 4px -10px 0 0;
  vertical-align: middle;
}

.header-right .notifications li {
  float: left;
  position: relative;
  margin: 0 10px 0 0;
}

.header-right .notifications .notifications-icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #777;
  box-sizing: border-box;
}

.header-right .notifications .notifications-icon:hover {
  border: 1px solid #ccc;
}

.header-right .notifications .notifications-icon i {
  line-height: 32px;
}

.header-right .notifications .notifications-icon .badge {
  background: #D2312D;
  color: #fff;
  font-size: 10px;
  position: absolute;
  padding: 3px 5px 3px 5px;
  top: -3px;
  right: -8px;
}

.header-right .userBox {
  display: inline-block;
  margin: 3px 17px 0 0;
  vertical-align: middle;
  position: relative;
}

.userBox a {
  text-decoration: none;
}

.userBox .profile-pic {
  display: inline-block;
  vertical-align: middle;
}

.userBox .profile-pic img {
  width: 35px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.userBox .profile-info {
  display: inline-block;
  vertical-align: middle;
  margin: 0 25px 0 10px;
}

.userBox .profile-info .userName {
  color: #000011;
  font-size: 13px;
  display: block;
}

.userBox .profile-info .userRole {
  color: #ACACAC;
  font-size: 11px;
  display: block;
}

.header-right .separator {
  background-color: #f6f6f6;
  background-image: linear-gradient(#f6f6f6 60%, #ededed);
  background-image: -webkit-linear-gradient(#f6f6f6 60%, #ededed);
  display: inline-block;
  height: 100%;
  width: 2px;
  vertical-align: middle;
  margin: 0 25px 0;
}
/*
*header style
****************end******************
*/

#test {
  width: 100%;
  position: fixed;
}