<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>

        <!--bootstrap-->
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
        <!--bootstrap-multiselect-->
        <link rel="stylesheet" href="../lib/bootstrap-multiselect/bootstrap-multiselect.css">
        <!--bootstrap-datetimepicker-->
        <link rel="stylesheet" href="../lib/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
        <!--main-->
        <link rel="stylesheet" href="../css/main.css">

        <!--angular-->
        <script src="../lib/angular/angular.min.js"></script>
        <!--jquery-->
        <script src="../lib/jquery/jquery-3.1.1.min.js"></script>
        <!--bootstrap-->
        <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
        <!--bootstrap-multiselect-->
        <script src="../lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <!--bootstrap-datetimepicker-->
        <script src="../lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="../lib/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
        <!--main-->
        <script src="../js/main.js"></script>
    </head>

    <body>

        <header class="header">
            <!--Logo-->
            <div class="logo-container">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="header-right">
                <!--Search Input-->
                <form action="#" class="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
        </header>

    </body>
</html>