<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>

        <!--bootstrap-->
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
        <!--bootstrap-multiselect-->
        <link rel="stylesheet" href="../lib/bootstrap-multiselect/bootstrap-multiselect.css">
        <!--bootstrap-datetimepicker-->
        <link rel="stylesheet" href="../lib/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
        <!--nanoscroller-->
        <link rel="stylesheet" href="../lib/nanoscroller/nanoscroller.css">
        <!--main-->
        <link rel="stylesheet" href="../css/main.css">

        <!--angular-->
        <script src="../lib/angular/angular.min.js"></script>
        <!--jquery-->
        <script src="../lib/jquery/jquery-3.1.1.min.js"></script>
        <!--bootstrap-->
        <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
        <!--bootstrap-multiselect-->
        <script src="../lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <!--bootstrap-datetimepicker-->
        <script src="../lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="../lib/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
        <!--nanoscroller-->
        <script src="../lib/nanoscroller/nanoscroller.js"></script>
        <!--main-->
        <script src="../js/main.js"></script>
    </head>

    <body>

        <!--start: header-->
        <header class="header">
            <!--start: Logo-->
            <div class="logo-container">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png" alt="Logo">
                </a>
            </div>
            <!--end: Logo-->
            <div class="header-right">
                <!--start: Search Input-->
                <form action="#" role="form" class="search">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </form>
                <!--end: Search Input-->
                <span class="separator"></span>
                <!--start: notifications-->
                <ul class="notifications">
                    <li class="notification-item">
                        <a href="#" class="notifications-icon" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-tasks"></i>
                            <span class="badge">3</span>
                        </a>
                        <div class="dropdown-menu notification-menu largeMenu">
                            <div class="notification-title">
                                <span class="label label-default pull-right">3</span>
                                tasks
                            </div>
                            <div class="notification-content">
                                <ul>
                                    <li>
                                        <p class="clearfix">
                                            <span class="message pull-left">Generating Sales Report</span>
                                            <span class="message pull-right text-dark">60%</span>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="clearfix">
                                            <span class="message pull-left">Importing Contacts</span>
                                            <span class="message pull-right text-dark">98%</span>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="clearfix">
                                            <span class="message pull-left">Uploading something big</span>
                                            <span class="message pull-right text-dark">33%</span>
                                        </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="notification-item">
                        <a href="#" class="notifications-icon" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="label label-default pull-right">3</span>
                                messages
                            </div>
                            <div class="notification-content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <figure class="profile-pic">
                                                <img src="../img/!logged-user.jpg" alt="user">
                                            </figure>
                                            <span class="messageTitle">Joseph Doe</span>
                                            <span class="messageContent">Lorem ipsum dolor sit.</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <figure class="profile-pic">
                                                <img src="../img/!logged-user.jpg" alt="user">
                                            </figure>
                                            <span class="messageTitle">Joseph Doe</span>
                                            <span class="messageContent">
                                                Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci.
                                                Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac
                                                tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada.
                                                Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed
                                                tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus
                                                tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie
                                                elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam
                                                tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum
                                                egestas nisi quis elementum elementum.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <figure class="profile-pic">
                                                <img src="../img/!logged-user.jpg" alt="user">
                                            </figure>
                                            <span class="messageTitle">Joe Junior</span>
                                            <span class="messageContent">Lorem ipsum dolor sit.</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <figure class="profile-pic">
                                                <img src="../img/!logged-user.jpg" alt="user">
                                            </figure>
                                            <span class="messageTitle">Joseph Junior</span>
                                            <span class="messageContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="notification-item">
                        <a href="#" class="notifications-icon" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-bell"></i>
                            <span class="badge">5</span>
                        </a>
                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                                <span class="label label-default pull-right">3</span>
                                alerts
                            </div>
                            <div class="notification-content">
                                <ul>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <div class="imageIcon">
                                                <i class="glyphicon glyphicon-thumbs-down bg-danger"></i>
                                            </div>
                                            <span class="alertMessage">Server is Down!</span>
                                            <span class="alertStatus">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="imageIcon">
                                                <i class="glyphicon glyphicon-lock bg-warning"></i>
                                            </div>
                                            <span class="alertMessage">User Locked</span>
                                            <span class="alertStatus">15 minutes ago</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="imageIcon">
                                                <i class="glyphicon glyphicon-signal bg-success"></i>
                                            </div>
                                            <span class="alertMessage">Connection Resulted</span>
                                            <span class="alertStatus">27/02/2017</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr>
                                <div class="text-right">
                                    <a href="#" class="viewAll">View All</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--end: notifications-->
                <span class="separator"></span>
                <!--start: userBox-->
                <div class="userBox" id="userBox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-pic">
                            <img src="../img/!logged-user.jpg" alt="user">
                        </figure>
                        <div class="profile-info">
                            <span class="userName">John Doe Junior</span>
                            <span class="userRole">administrator</span>
                        </div>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>My Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-lock"></i>Lock Screen
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-off"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end: userBox-->
            </div>
        </header>
        <!--end: header-->

        <div class="inner-wrapper">
            <!--start: sidebar-left-->
            <div id="sidebar-left" class="sidebar-left">
                <div class="sidebar-head">
                    <div class="sidebar-title">Navigation</div>
                    <div class="siderbar-toggle">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                    </div>
                </div>
                <div class="nano"></div>
            </div>
            <!--end: sidebar-left-->

            <!--start: content-->
            <!--end: content-->
        </div>

        <!--start: test-->
        <!--<div class="test">
            <div class="panel-group" id="myAccordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panel1" data-toggle="collapse" data-target="#panel1" data-parent="#myAccordion">panel one</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="panel1">
                        <div class="panel-body">content one</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panel2" data-toggle="collapse" data-target="#panel2" data-parent="#myAccordion">panel two</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="panel2">
                        <div class="panel-body">content two</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#panel3" data-toggle="collapse" data-target="#panel3" data-parent="#myAccordion">panel three</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="panel3">
                        <div class="panel-body">content three</div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- <div class="nano">
            <div class="nano-content">
                <p>你正在苦心研究一段绪乱如麻的程序(或其它问题)。你非常的清楚这段程序是干什么用的，你只是在想尽办法用另外一种更好的语言实现它。经过数小时跟它那错综复杂的逻辑纠缠不清，经过了无数次修改—编译—调试—恢复—重复循环后，你双手一甩，放弃，走人.</p>
        
                <p>可是突然的，当你做饭时，或看电影时，或边冲澡边想着午饭吃什么面，或只是正在专心干其它事情时——灵感来了。一个绝妙的方案从天而降，如此优雅，如此简单，你奇怪当时怎么就没想到这些。</p>
        
                <p>你迅速的在脑子里打了个草稿(或用Evernote、notepad什么的东西记/下来)，此时，手头的其它事都不想做了，你迅速的打开 vim编辑器，直接把事情解决了。你就是这样做事情的。</p>
        
                <p>加密锁最终打开了——也许你听到了暗锁“咔嚓”一声响——搞定了。你后退一步，惊奇于它的美丽。你能感觉到这神秘的盒子发出的红光热印到你脸上。世界又恢复的次序。对于任何面对的问题，你都是专家——没有你解决不掉的难题，没有你过不去的河。</p>
                <p>你正在苦心研究一段绪乱如麻的程序(或其它问题)。你非常的清楚这段程序是干什么用的，你只是在想尽办法用另外一种更好的语言实现它。经过数小时跟它那错综复杂的逻辑纠缠不清，经过了无数次修改—编译—调试—恢复—重复循环后，你双手一甩，放弃，走人.</p>
        
                <p>可是突然的，当你做饭时，或看电影时，或边冲澡边想着午饭吃什么面，或只是正在专心干其它事情时——灵感来了。一个绝妙的方案从天而降，如此优雅，如此简单，你奇怪当时怎么就没想到这些。</p>
        
                <p>你迅速的在脑子里打了个草稿(或用Evernote、notepad什么的东西记下来)，此时，手头的其它事都不想做了，你迅速的打开 vim编辑器，直接把事情解决了。你就是这样做事情的。</p>
        
                <p>加密锁最终打开了——也许你听到了暗锁“咔嚓”一声响——搞定了。你后退一步，惊奇于它的美丽。你能感觉到这神秘的盒子发出的红光热印到你脸上。世界又恢复的次序。对于任何面对的问题，你都是专家——没有你解决不掉的难题，没有你过不去的河。</p>
            </div>
        </div> -->
        <!--<div class="textflow">
            Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci.
            Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac
            tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada.
            Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed
            tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus
            tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie
            elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam
            tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum
            egestas nisi quis elementum elementum.
        </div>-->
        <!--end: test-->

    </body>
</html>