<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>

        <!--bootstrap-->
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
        <!--bootstrap-multiselect-->
        <link rel="stylesheet" href="../lib/bootstrap-multiselect/bootstrap-multiselect.css">
        <!--bootstrap-datetimepicker-->
        <link rel="stylesheet" href="../lib/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
        <!--main-->
        <link rel="stylesheet" href="../css/main.css">

        <!--angular-->
        <script src="../lib/angular/angular.min.js"></script>
        <!--jquery-->
        <script src="../lib/jquery/jquery-3.1.1.min.js"></script>
        <!--bootstrap-->
        <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
        <!--bootstrap-multiselect-->
        <script src="../lib/bootstrap-multiselect/bootstrap-multiselect.js"></script>
        <!--bootstrap-datetimepicker-->
        <script src="../lib/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <script src="../lib/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
        <!--main-->
        <script src="../js/main.js"></script>
    </head>

    <body>

        <header class="header">
            <!--start: Logo-->
            <div class="logo-container">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png" alt="Logo">
                </a>
            </div>
            <!--end: Logo-->
            <div class="header-right">
                <!--start: Search Input-->
                <form action="#" role="form" class="search">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </form>
                <!--end: Search Input-->
                <span class="separator"></span>
                <!--start: notifications-->
                <ul class="notifications">
                    <li>
                        <a href="#" class="notifications-icon">
                            <i class="glyphicon glyphicon-tasks"></i>
                            <span class="badge">3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="notifications-icon">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span class="badge">4</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="notifications-icon">
                            <i class="glyphicon glyphicon-bell"></i>
                            <span class="badge">5</span>
                        </a>
                    </li>
                </ul>
                <!--end: notifications-->
                <span class="separator"></span>
                <!--start: userBox-->
                <div class="userBox" id="userBox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-pic">
                            <img src="../img/!logged-user.jpg" alt="user">
                        </figure>
                        <div class="profile-info">
                            <span class="userName">John Doe Junior</span>
                            <span class="userRole">administrator</span>
                        </div>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i>My Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-lock"></i>Lock Screen
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-off"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end: userBox-->
            </div>
        </header>

    </body>
</html>